.options__row {
  margin: 1em;
}

.options__row,
.options__graph_row {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.options__col,
.options__col_type2 {
  order: 0;
}

.options__col_type2 {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  margin-left: inherit;
}

.month__tag,
.month__tag_selected {
  order: 0;
  font-family: 'Ariel';
  padding: 0.5em;
  margin: 0 0.5em;
  color: #b1b9c6;
  font-weight: bolder;
}

.month__tag:hover,
.month__tag_selected {
  background-color: #dfe7f5;
  border-radius: 0.5em;
  color: #1958d0;
}

.select__options_input {
  -webkit-box-shadow: 0px 0px 15px -3px rgba(138, 134, 138, 0.81);
  -moz-box-shadow: 0px 0px 15px -3px rgba(138, 134, 138, 0.81);
  box-shadow: 0px 0px 15px -3px rgba(138, 134, 138, 0.81);
  appearance: none;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  padding: 0.5em 2em 0.5em 1em;
  border: 0;
  border-radius: 2em;
  font-family: "Ariel";
  color: #9fa9ba;
  margin-left: 1em;
  font-weight: bolder;
  font-size: 1em;
}