@font-face {
  font-family: "Avenir";
  src: url("./utils/fonts/AvenirLTStd.woff") format("woff");
}

.green--text {
  color: #5feca9;
}

.red--text {
  color: #f3626c;
}

.primary--text {
  color: #002453;
}

.grey--text {
  color: #9fa9ba;
}

.alt--background {
  background-color: #dee6f4;
}

.primary--background {
  background-color: #f8f9f9;
}

.red--background {
  background-color: #f3626c;
}

.green--background {
  background-color: #5feca9;
}